version: "3.8"

services:
  redpanda:
    image: redpandadata/redpanda:latest
    container_name: redpanda
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp
      - "1"
      - --memory
      - "1G"
      - --reserve-memory
      - "0M"
      - --node-id
      - "0"
      - --check=false
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://redpanda:9092
    ports:
      - "9092:9092"
      - "9644:9644"
    networks:
      - backend


  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  clickhouse:
    image: clickhouse/clickhouse-server
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      - CLICKHOUSE_DB=default
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=password
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports: 
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    depends_on:
      - payment-gateway

  payment-gateway:
    container_name: payment-gateway
    build: ./services/payment-gateway-service
    ports:
      - "8000:8000"
    depends_on:
      - redpanda

  stream-processor:
    build: ./services/stream-processor-service
    ports:
      - "8001:8001"
    depends_on:
      - redpanda
      - redis
      - clickhouse

  anomaly-detector:
    build: ./services/anomaly-detection-service
    container_name: anomaly-detector
    depends_on:
      - redpanda
      - redis
    ports:
      - "8002:8002"

  agent-brain:
    build: ./services/agent-brain-service
    container_name: agent-brain
    depends_on:
      - redpanda
    ports:
      - "8003:8003"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - open_api_key=${OPENAI_API_KEY}
    networks:
      - backend

  rl-policy-service:
    build: ./services/rl-policy-service
    container_name: rl-policy-service
    ports:
      - "8005:8005"
    depends_on:
      - redpanda
      - redis
    environment:
      - PYTHONUNBUFFERED=1
      - KAFKA_BOOTSTRAP_SERVERS=redpanda:9092


  policy-executor:
    build: ./services/policy-executor-service
    command: python -u app/main.py
    container_name: policy-executor
    volumes:
      - policy_audit:/data
    depends_on:
      - redpanda
      - redis
    environment:
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
      - AUTO_EXECUTE_HIGH_CONFIDENCE=true
      - AUTO_EXECUTE_THRESHOLD=0.8

  audit-ledger:
    build: ./services/audit-ledger-service
    container_name: audit-ledger
    depends_on:
      - redpanda
    networks:
      - backend
  

volumes:
  policy_audit:


networks:
  backend:
    driver: bridge
